/* This file contains the CSS styles for the components in the app. */

:root {
  --sidebar-width: 20rem;
}

.main-content {
    margin-left: var(--sidebar-width);
    margin-right: 0rem;
    padding: 2rem 5rem;
}

.title {
    /* position: absolute; */
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

.display-equation {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.text {
    /* position: absolute; */
    text-align: justify;
    font-size: 1.2rem;
}

.heatmap-tooltip {
    aspect-ratio: 1;
    padding: 0rem 0rem;
}

.figure {
    width: calc(100% - 3rem); 
    height: 30rem;
    padding: 0rem 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    padding: 2rem 1rem;
    background-color: #3b76685f;
}

.text .sidebar-text {
    font-size: 1rem;
}

.sidebar-content {
    padding: 0rem 2rem;
}

.sidebar-content .sidebar-button {
    flex: 1;
}

.sidebar-content .sidebar-input {
    flex: 1;

}

.sidebar-content .sidebar-dropdown {
    flex: 1;

}


.color-primary {
    color: #642fa6;
}


/* 
.title-div {
    margin-left: calc(10rem + var(--sidebar-width));
    margin-right: 10rem;
    margin-top: 5rem;
}



.sidebar-button {
    flex: 1;
    margin-right: calc(0.01 * var(--sidebar-width));
    margin-left: calc(0.01 * var(--sidebar-width));
    width: calc(0.2 * var(--sidebar-width));
}

.sidebar-slider {
    flex: 1;
    margin-right: calc(0.01 * var(--sidebar-width));
    margin-left: calc(0.01 * var(--sidebar-width));
    width: calc(0.6 * var(--sidebar-width));
} */



